<div id="allcomments" class="hidden">
    <div class="comments"></div>
    <div class="actions">
        <i id="closeComments" class='closeComments close fas fa-times'></i>
        <div class="addComment">
            <input type="hidden" name="itemId" value="">
            <input type="text" id="newCommentInput" name="comment" class="form-control" placeholder="..اضف تعليقا">
            <button class="addNewComment btn">اضف</button>
        </div>
    </div>
</div>