<div class="jumbotron footer grid g-three">
    <div class="footer-item">
        <h3>Stay Connected</h3>

        <ul class="footer-list">
            <li class="footer-list-item">
                <a href="/public/about">Book</a>
            </li>

            <li class="footer-list-item">
                <a href="/public/about">About Us</a>
            </li>
            <li class="footer-list-item">Centers Address</li>
        </ul>
    </div>
    <div class="footer-item">
        <h3>Find Us</h3>
        <ul>
            <li>
                <i class="fab fa-facebook-f"></i>
            </li>
            <li>
                <i class="fab fa-twitter"></i>
            </li>
            <li>
                <i class="fab fa-youtube"></i>
            </li>
        </ul>
    </div>
    <div class="footer-item">
        <h3>Get Updates</h3>

        <form id="subscribe" action="/subscribe" method="POST">
            <input type="text" placeholder="Add Your Email To Subscribe.." />
        </form>
    </div>


</div>