<div id="notifications" class="hidden">
    <input type="hidden" name="usid" value="<%=user._id%>">
    <div class="all-items p-relative">
        <img  src="/images/loading(3).svg" class="hidden loading" alt="loading" srcset="">

    </div>
</div>