<!--Footer-->
<footer class="bg-white">
    <div class="container mx-auto  px-8">

        <div class="w-full flex flex-col md:flex-row md:items-start justify-between py-6">
            <div>

                <a class=" no-underline hover:no-underline font-bold text-2xl lg:text-4xl flex items-center" href="/">

                    <img class="h-16" src="/images/Logo_full.png" alt="Ibrahim Kamel">

                </a>
            </div>
            <div>
                <p class="uppercase text-gray-500 font-bold">Links</p>
                <ul class="list-reset mb-6 grid grid-cols-2 gap-x-5 gap-y-2 items-center">
                    <li>
                        <a href="/public/about"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">About us</a>
                    </li>
                    <li>
                        <a href="/public/contact"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Contact us</a>
                    </li>
                    <li>

                        <a href="/public/contact"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500"> FQA</a>
                    </li>
                    <li>
                        <a href="/public/contact"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Help</a>
                    </li>
                    <li>
                        <a href="/public/contact"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Support</a>
                    </li>
                    <li>
                        <a href="/public/policy"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Terms</a>
                    </li>
                    <li>
                        <a href="/public/policy"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Support</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="uppercase text-gray-500 font-bold">Social Media</p>
                <ul class="list-reset mb-6 grid  gap-x-5 gap-y-2">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61550764118037"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Facebook</a>
                    </li>
                    <!-- <li>
                        <a href="https://www.youtube.com/channel/UCc3TwAdctVXFZDpk0STeCqg"
                            class="no-underline hover:underline text-gray-800 hover:text-orange-500">Youtube</a>
                    </li> -->

                </ul>
            </div>


        </div>
    </div>
</footer>