<div class="auth w-75 p-3 ">
    <h1 class="text-3xl mb-4 text-medium">
       You have to activate the account first before proceeding 🔒
    </h1>
    <h2 class="p-3 text-lg">
         Do You Have Pin Code! <a class="mx-2 text-blue-500" href="/activate">Add Here</a>
    </h2>

</div>