<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../includes/head.ejs') %>

        <!-- CSS here -->

</head>

<body>
    <%- include('../includes/public_nav.ejs') %>
        <div class="wrapper" style="padding-top: 100px;">
            <main>
                <h1 class="text-4xl text-center font-bold">About us</h1>
                <!-- About Details Start -->
                <div>
                    <div class="about-details-cap mb-50">
                        <h2 class="text-3xl md:text-4xl font-medium">Our mission</h2>
                        <p class="mb-8 text-xl">Behind every innovative idea is a problem that needs a solution, and our
                            problem was confusing some students.
                            Their need for someone to take their hands and guide them in their academic life, whether
                            academically or socially
                            Therefore, we established Mr. Alaa Al-Minyawi’s website
                            To provide all educational services electronically to help students receive experiences
                            easily
                            It provides information and study tips, such as:
                        </p>
                        <p class="mb-8 text-xl">
                            How to practice solving questions using the new system, the mechanism for organizing time,
                            and methods for solving exams
                            Electronically and obtain final grades

                            <br> Based on this, we have come up with a new and systematic educational solution that
                            creates an electronic learning environment
                            It is comprehensive and contains an illustrated explanation using the latest modern
                            technological methods and interactive questions based on it
                            There is an element of follow-up and discipline in the lessons that students receive on the
                            ground

                            <br> The challenge we face together remains the continuous development of our system until
                            we reach the best system
                            Integrated and comprehensive e-learning that satisfies students and parents<br>
                        </p>

                    </div>

                </div>
                <!-- About Details End -->

            </main>
        </div>
        <%- include('../includes/public_footer.ejs') %>


</body>

</html>